table.table{
    border:1px solid blue;
    margin-top:20px;
  }
table.table > thead > tr > th{
    border:1px solid blue;
}
table.table > tbody > tr > td{
    border:1px solid #DFDCE3;
}

body {
    background-color: #DFDCE3;
}
.container {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: left;

}
.jumbotron {
    height: 100px;
    margin-top: 30px;
    padding-top: 20px;
    color: #F7EF6A;
    background-color: #465C8B;
}
#cityName {
    float: left;
}
#countrySelect {
    float: right;
}

#searchBox {
    align-content: center;
    padding-left: 150px;
}

#resultsText {
    align-content: center;
    color: green;

}

h1 {
    text-align: center;
}

h3 {
    text-align: left;
}

th {
    color: blue;
}
